.header {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: #192E54;
    vertical-align: middle;
}

.header img {
    margin-left: 20px;
}

.header a {
    float: right;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    margin: 18px 10px 0 0;
    background-color: #F59400;
    border-radius: 5px;
}