<ul class = "heroes">
    <span class = "badge">
      Command
    </span>
    <span class = "badge">
      longitude
    </span>
    <span class = "badge">
      latitude
    </span>
    <span class = "badge">
      altitude
    </span>
  </ul>
  <ul class = "heroes">
    <li *ngFor = "let wp of waypoints">
    
      <span class = "badge">
       {{wp.Command}}
      </span>
      <span class = "badge">
        {{wp.longitude}}
      </span>
      <span class = "badge">
        {{wp.latitude}}
      </span>
      <span class = "badge">
        {{wp.altitude}}
      </span>
  
    </li>
  </ul>
  