<app-header></app-header>
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">

<div class="buttonClass">
    <button class="clr-btn" (click)="clearParameters()"><span>Hapus Parameter</span></button>
    <button class="parameter-btn" (click)="getParameters()"><span>Ambil Parameter</span></button>
    <button class="parameter-btn" (click)="sendParameters()"><span>Kirim Parameter</span></button>
</div>

<table *ngIf="parameters.children.length > 1">
    <tr>
        <th><p>Param Index</p></th>
        <th><p>Param Name</p></th>
        <th><p>Param Value</p></th>
        <th><p>Param Type</p></th>
    </tr>

    <tr *ngFor="let parameter of parameters.children">
        <td><p>{{ parameter.param_index }}</p></td>
        <td><p>{{ parameter.param_id }}</p></td>
        <td><input type="number" [(ngModel)]="parameter.param_value" placeholder="{{ parameter.param_value }}"/></td>
        <td><p>{{ parameter.param_type }}</p></td>
    </tr>
</table>
