<div class="header">
    <img class="aksantara" src="../../assets/image/aksantara.png"/>
</div>
<div class="container">
    <div class="flight-data">
        <img src="../../assets/svg/progress.svg"/>
        <a routerLink="/flight-data">Flight Data</a>
    </div>
    <div class="mission">
        <img src="../../assets/svg/graph.svg"/>
        <a routerLink="/mission">Mission</a>
    </div>
    <div class="parameter">
        <img src="../../assets/svg/setup.svg"/>
        <a>Parameter</a>
    </div>
</div >